pre {
    background: #333;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
  }
  
  pre.code {
    border-radius: 4px;
    border: 1px solid #292929;
    position: relative;
  }
  
  pre code {
    font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    display: block;
    margin: 0 0 0 60px;
    padding: 15px;
    border-left: 1px solid #555;
    overflow-x: auto;
    font-size: 13px;
    line-height: 19px;
    color: #ddd;
  }
  pre code {
    color: #ffa726;
  }

  .green {
    color: green;
  }
  
  .blue {
    color: blue;
  }

  .red {
    color: red;
  }
  